
{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-menu">

<div class="canvas clearfix">
    <div class="left">
        <header class="bk-header companyheader clearfix">
            {{widget('logo', 'desktoplogo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'desktopcompanyname', {"business": "profile"})|raw}}
        </header>  
        <div class='nav'>
            {{widget('extendednavigation', 'navigationheader', {"align":"left"})|raw}}
        </div>
        {{widget('companyaddress', 'desktopcompanyaddress', {})|raw}}
        {{widget('clicktocall', 'desktopclicktocall', {phoneText: '212 6574 6736'})|raw}}
    </div> <!-- end left -->

    <div class="main wrapper clearfix">
        {{zone('main')|raw}}
    </div>  <!-- end main -->

</div><!-- end canvas -->

</div><!-- end bk-pt-menu -->


{% endblock %}